/* Styles de base pour le corps de la page */
body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #faf8ef;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/* Styles pour les titres */
h1 {
  margin-bottom: 20px;
  font-size: 48px;
  color: #776e65;
}

/* Styles pour le conteneur de jeu */
#game {
  margin: 20px;
  background-color: #bbada0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Styles pour les boutons dans le conteneur de jeu */
#game button {
  margin: 10px;
  padding: 20px;
  font-size: 24px;
  cursor: pointer;
  background-color: #8f7a66;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
}

#game button:hover {
  background-color: #776e65;
  transform: scale(1.1);
}

/* Styles pour l'affichage des résultats */
#result {
  margin: 20px;
  font-size: 24px;
  color: #776e65;
}

/* Styles généraux pour les boutons */
button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  background-color: #8f7a66;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
}

button:hover {
  background-color: #776e65;
  transform: scale(1.1);
}

/* Effets lors du clic sur le bouton */
button:active {
  background-color: #5e5e5e;
}
